	/*
  
   Wildcat Computer Science
   Author: Zach Lore
   Date:   10/3/16

   Filename:         wcs.css
   Supporting Files: weberstate.gif

*/

		body { 
			margin: 0;
			font: normal 12px/18px 'Helvetica', Arial, sans-serif;
			background: #737373;
		}
		
		/* Positioning Rules */
		
		#container {
			width: 900px;
			margin: 0 auto;
		}
		
		#content {
			position: relative;
			padding:  20px 250px 60px 20px;
			background: #e6e6e6;
		}
		
		#nav {
			height: 80px;
			background: #ffffff;
			padding-top: 20px;
			padding-bottom: 20px;
		}
		
		#logo {
			position: relative;
			float: right;
			top: -70px;
			right: 20px;
		}
		
		#callout {
			position: absolute;
			top: 100px;
			bottom: 100px;
			right: -80px;
			width: 210px;
			padding: 0px 20px;
			border-top: 5px solid #d6d6c2;
			background-color: #4d004d;
		}
		
		#footer {
			width 860px;
			padding: 0px 20px;
			background-color:#e6e6e6;
		}
		
		
		/*Styling*/
		
		#nav a {
			display: block;
			float: left;
			color: purple;
			text-decoration: none;
			font-weight: 900;
			padding: 0px 20px;
			line-height: 50px;
			border-right: 1px solid #91ab3b;
		}
		
		#nav a:active {
			color: #330033;
		}
		
		#nav a:hover {
			background-color: #91ab3b;
		}
		
		#nav h1 {
			padding-left: 20px;
			font-size: 250%;
		}
		
		#content h3 {
			color: #000000;
		}
		
		#callout h2, #callout h4, #callout p, #callout li {
			color: #ffffff;
		}
		
		
	
		
		
		
		
		
		
		
		
		
		
		
		
		