	/*
  
   Wildcat Computer Science
   Author: YOUR NAME
   Date:   TODAY'S DATE

   Filename:         wcs.css
   Supporting Files: weberstate.gif

*/

		body { 
			margin: 0;
			font: normal 12px/18px 'Helvetica', Arial, sans-serif;
			background: #737373;
		}
		
		/* Positioning Rules */
		
		
		
		/*Styling*/
		
		